{% extends "base.html" %}

{% block content %}

<style>
  * {
    box-sizing: border-box;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  .home {
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: left;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
</style>
  <h1>Make buggy</h1>
  <p style="color: red"> {{msg}} </p>
  <p style="color: red"> {{msg2}} </p>
<div class="container">
  <form action="/new" method="post">
	
	<div class="row">
	    <div class="col-25">
	      <label for="id">Buggy ID:</label>
	    </div>
	    <div class="col-75">
			<input type="number" id="id" name="id" value="{{ prev_id }}" placeholder="ID...">
			<p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Insert the Buggy ID (default value 1)</p>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="qty_wheels">Number of wheels:</label>
	    </div>
	    <div class="col-75">
	      <input type="number" id="qty_wheels" name="qty_wheels" value="{{ prev_qty_wheels }}" placeholder="Quantity of wheels... ">
		  <p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Insert the number of the wheels (Minimum 4!)</p>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="tyres">Type of Tyres:</label>  
	    </div>
	    <div class="col-75">
		  <select id="tyres" name="tyres" style="height: 50px; font-size: 16px" value="{{ prev_tyres }}" required>
			  <option></option>
			  <option {% if 'knobbly' == prev_tyres %} selected {% endif %} value="knobbly">Knobbly</option>
			  <option {% if 'slick' == prev_tyres %} selected {% endif %} value="slick">Slick</option>
			  <option {% if 'steelband' == prev_tyres %} selected {% endif %} value="steelband">Steelband</option>
			  <option {% if 'reactive' == prev_tyres %} selected {% endif %} value="reactive">Reactive</option>
			  <option {% if 'maglev' == prev_tyres %} selected {% endif %} value="maglev">Maglev</option>
		  </select>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-25">
	      <label for="qty_tyres">Number of Tyres:</label>
	    </div>
	    <div class="col-75">
	      <input type="number" id="qty_tyres" name="qty_tyres" value="{{ prev_qty_tyres }}" placeholder="Quantity of tyres... ">
		  <p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Insert the number of the wheels (Minimum 4!)</p>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="flag_color">Colour of flag:</label>
	    </div>
	    <div class="col-75">
		  <input type="color" id="flag_color" name="flag_color" value="{{ prev_flag_color }}" style="border: 1px solid black; background-color: {{ prev_flag_color }}" oninput="this.style.setProperty('background-color', this.value)">
		  <p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Select the CSS-colour from this square (saved as example: #ff0000 or red)</p>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="flag_color_secondary">Secondary flag colour:</label> 
	    </div>
	    <div class="col-75">
			<input type="color" id="flag_color_secondary" name="flag_color_secondary" value="{{ prev_flag_color_secondary }}" style="border: 1px solid black; background-color: {{ prev_flag_color_secondary }}" oninput="this.style.setProperty('background-color', this.value)">
		  <p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Select the CSS-colour from this square (saved as example: #ff0000 or red)</p>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="flag_pattern">Pattern of flag:</label>  
	    </div>
	    <div class="col-75">
		  <select id="flag_pattern" name="flag_pattern" style="height: 50px; font-size: 16px" value="{{ prev_flag_pattern }}" required>
			  <option></option>
			  <option {% if 'plain' == prev_flag_pattern %} selected {% endif %} value="plain">Plain pattern</option>
			  <option {% if 'vstripe' == prev_flag_pattern %} selected {% endif %} value="vstripe">Vertical stripe</option>
			  <option {% if 'hstripe' == prev_flag_pattern %} selected {% endif %} value="hstripe">Horizontal stripe</option>
			  <option {% if 'dstripe' == prev_flag_pattern %} selected {% endif %} value="dstripe">Diagonal stripe</option>
			  <option {% if 'checker' == prev_flag_pattern %} selected {% endif %} value="checker">Checker</option>
			  <option {% if 'spot' == prev_flag_pattern %} selected {% endif %} value="spot">Spot</option>
		  </select>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="power_type">Type of Power:</label>  
	    </div>
	    <div class="col-75">
		  <select id="power_type" name="power_type" style="height: 50px; font-size: 16px" value="{{ prev_power_type }}" onchange="displayDivDemo('check_hamster', this)" required>
			  <option></option>
			  <option {% if 'petrol' == prev_power_type %} selected {% endif %} value="petrol">Petrol</option>
			  <option {% if 'fusion' == prev_power_type %} selected {% endif %} value="fusion">Fusion</option>
			  <option {% if 'steam' == prev_power_type %} selected {% endif %} value="steam">Steam</option>
			  <option {% if 'bio' == prev_power_type %} selected {% endif %} value="bio">Bio</option>
			  <option {% if 'electric' == prev_power_type %} selected {% endif %} value="electric">Electric</option>
			  <option {% if 'rocket' == prev_power_type %} selected {% endif %} value="rocket">Rocket</option>
			  <option {% if 'hamster' == prev_power_type %} selected {% endif %} value="hamster">Hamster</option>
			  <option {% if 'thermo' == prev_power_type %} selected {% endif %} value="thermo">Thermo</option>
			  <option {% if 'solar' == prev_power_type %} selected {% endif %} value="solar">Solar</option>
			  <option {% if 'wind' == prev_power_type %} selected {% endif %} value="wind">Wind</option>
		  </select>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-25">
	      <label for="power_units">Unit of fuel:</label>
	    </div>
	    <div class="col-75">
	      <input type="number" id="power_units" name="power_units" value="{{ prev_power_units }}" placeholder="Unit of fuel for the engine... ">
		  <p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Insert the unit of fuel for the engine</p>
	    </div>
	  </div>
	  
	  <!-- CHECK IF SELECTED POWER IS = HAMSTER FOR USING OR NOT THE BOOSTER-->
	  <script>
		  window.onpageshow = function() {
		      document.getElementById("check_hamster").style.display = document.getElementById("power_type").value == "hamster" ? 'block' : 'none';
			  document.getElementById("check_hamster_2").style.display = document.getElementById("aux_power_type").value == "hamster" ? 'block' : 'none';
		  };
	     function displayDivDemo(id, elementValue) {
	        document.getElementById(id).style.display = elementValue.value == "hamster" ? 'block' : 'none';
	     }
	  </script>
	  <style>
	     #check_hamster {
	        display: none;
	     }
	  </style>
	<div class="row" id="check_hamster">
		<div class="col-25">
			<label for="hamster_booster">Unit of fuel for Hamster Booster:</label>
		</div>
		<div class="col-75">
			<input type="number" id="hamster_booster" name="hamster_booster" value="{{ prev_hamster_booster }}" placeholder="Unit of fuel for the hamster booster... ">
			<p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Hamster booster: </p>
		</div>
	</div>
	<!-- ------------------------------------------------------------------ -->
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="power_type">Type of Auxiliary Power:</label>  
	    </div>
	    <div class="col-75">
		  <select id="aux_power_type" name="aux_power_type" style="height: 50px; font-size: 16px" value="{{ prev_aux_power_type }}" onchange="displayDivDemo('check_hamster_2', this)">
			  <option value="none"></option>
			  <option {% if 'petrol' == prev_aux_power_type %} selected {% endif %} value="petrol">Petrol</option>
			  <option {% if 'fusion' == prev_aux_power_type %} selected {% endif %} value="fusion">Fusion</option>
			  <option {% if 'steam' == prev_aux_power_type %} selected {% endif %} value="steam">Steam</option>
			  <option {% if 'bio' == prev_aux_power_type %} selected {% endif %} value="bio">Bio</option>
			  <option {% if 'electric' == prev_aux_power_type %} selected {% endif %} value="electric">Electric</option>
			  <option {% if 'rocket' == prev_aux_power_type %} selected {% endif %} value="rocket">Rocket</option>
			  <option {% if 'hamster' == prev_aux_power_type %} selected {% endif %} value="hamster">Hamster</option>
			  <option {% if 'thermo' == prev_aux_power_type %} selected {% endif %} value="thermo">Thermo</option>
			  <option {% if 'solar' == prev_aux_power_type %} selected {% endif %} value="solar">Solar</option>
			  <option {% if 'wind' == prev_aux_power_type %} selected {% endif %} value="wind">Wind</option>
		  </select>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-25">
	      <label for="aux_power_units">Unit of fuel:</label>
	    </div>
	    <div class="col-75">
	      <input type="number" id="aux_power_units" name="aux_power_units" value="{{ prev_aux_power_units }}" placeholder="Unit of fuel for the engine... ">
		  <p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Insert the unit of fuel for the auxiliary engine</p>
	    </div>
	  </div>
    	  <!--CHECK IF SELECTED AUXILIARY POWER IS = HAMSTER FOR USING OR NOT THE BOOSTER-->
    	  <style>
    	     #check_hamster_2 {
    	        display: none;
    	     }
    	  </style>
    	<div class="row" id="check_hamster_2">
    		<div class="col-25">
    			<label for="hamster_booster">Unit of fuel for Auxiliary Hamster Booster:</label>
    		</div>
    		<div class="col-75">
    			<input type="number" id="aux_hamster_booster" name="aux_hamster_booster" value="{{ prev_aux_hamster_booster }}" placeholder="Unit of fuel for the auxiliary hamster booster... ">
    			<p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Auxiliary Hamster booster: </p>
    		</div>
    	</div>
    	<!-- ------------------------------------------------------------------ -->
	  <div class="row">
	    <div class="col-25">
	      <label for="armour">Type of Armour:</label>  
	    </div>
	    <div class="col-75">
		  <select id="armour" name="armour" style="height: 50px; font-size: 16px" value="{{ prev_armour }}" required>
			  <option {% if 'none' == prev_armour %} selected {% endif %} value="none">None</option>
			  <option {% if 'wood' == prev_armour %} selected {% endif %} value="wood">Wood</option>
			  <option {% if 'aluminium' == prev_armour %} selected {% endif %} value="aluminium">Aluminium</option>
			  <option {% if 'thinsteel' == prev_armour %} selected {% endif %} value="thinsteel">Thinsteel</option>
			  <option {% if 'thicksteel' == prev_armour %} selected {% endif %} value="thicksteel">Thicksteel</option>
			  <option {% if 'titanium' == prev_armour %} selected {% endif %} value="titanium">Titanium</option>
		  </select>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-25">
	      <label for="attack">Type of Attack:</label>  
	    </div>
	    <div class="col-75">
		  <select id="attack" name="attack" style="height: 50px; font-size: 16px" value="{{ prev_attack }}" required>
			  <option {% if 'none' == prev_attack %} selected {% endif %} value="none">None</option>
			  <option {% if 'spike' == prev_attack %} selected {% endif %} value="spike">Spike</option>
			  <option {% if 'flame' == prev_attack %} selected {% endif %} value="flame">Flame</option>
			  <option {% if 'charge' == prev_attack %} selected {% endif %} value="charge">Charge</option>
			  <option {% if 'biohazard' == prev_attack %} selected {% endif %} value="biohazard">Biohazard</option>
		  </select>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="qty_attacks">Unit of fuel:</label>
	    </div>
	    <div class="col-75">
	      <input type="number" id="qty_attacks" name="qty_attacks" value="{{ prev_qty_attacks }}" placeholder="Number of attacks... ">
		  <p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Insert the number of attacks you want to do</p>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="fireproof">Fireproof?</label>
	    </div>
	    <div class="col-75">
  			<select id="fireproof" class="select_fireproof" name="fireproof" style="height: 50px; font-size: 16px" value="{{ prev_fireproof }}" onchange="change_fireproof()" required>
  				<option {% if 'false' == prev_fireproof %} selected {% endif %} value="false">False</option>
  				<option {% if 'true' == prev_fireproof %} selected {% endif %} value="true">True</option>
			</select>
			<input type="button" class="home" id="fireproof" name="fireproof" value="Press to change" onclick="change_fireproof()"/> 
	    </div>
	  </div>
	  <style>
		  .button_change{
			  background-color: #fffff;
			  border: 1px solid black;
			  color: black;
			  padding: 15px 32px;
			  text-align: center;
			  text-decoration: none;
			  display: inline-block;
			  font-size: 16px;
		  }
		  .select_fireproof{
			  background-color: red;
			  border: none;
			  color: white;
			  padding: 15px 32px;
			  text-align: center;
			  text-decoration: none;
			  display: inline-block;
			  font-size: 16px;
		  }
	  </style>
	  <script>
		  window.onpageshow = function() {
		      if (document.getElementById("fireproof").value == "false"){
		      	document.getElementById("fireproof").style.backgroundColor = "red"
		      } else {
		      	document.getElementById("fireproof").style.backgroundColor = "green"
		      }
		      if (document.getElementById("insulated").value == "false"){
		      	document.getElementById("insulated").style.backgroundColor = "red"
		      } else {
		      	document.getElementById("insulated").style.backgroundColor = "green"
		      }
		  }
		  function change_fireproof()
		  {
		      if (document.getElementById("fireproof").value=="false"){ 
				  document.getElementById("fireproof").value = "true";
				  document.getElementById("fireproof").style.backgroundColor = "green";
			  }
		      else {
				  document.getElementById("fireproof").value = "false";
				  document.getElementById("fireproof").style.backgroundColor = "red";
			  }
		  }
		  function change_insulated()
		  {
		      if (document.getElementById("insulated").value=="false"){ 
				  document.getElementById("insulated").value = "true";
				  document.getElementById("insulated").style.backgroundColor = "green";
			  }
		      else {
				  document.getElementById("insulated").value = "false";
				  document.getElementById("insulated").style.backgroundColor = "red";
			  }
		  }
	  </script>
	  <div class="row">
	    <div class="col-25">
	      <label for="insulated">Insulated?</label>
	    </div>
	    <div class="col-75">
  			<select id="insulated" class="select_fireproof" name="insulated" style="height: 50px; font-size: 16px" value="{{ prev_insulated }}" onchange="change_insulated()" required>
  				<option {% if 'false' == prev_insulated %} selected {% endif %} value="false">False</option>
  				<option {% if 'true' == prev_insulated %} selected {% endif %} value="true">True</option>
			</select>
			<input type="button" class="home" id="insulated" name="insulated" value="Press to change" onclick="change_insulated()"/> 
	    </div>
	  </div>
	  
	  <div class="row">
	    <input type="submit" class="button">
		<a href="/" class="button home">home</a>
	  </div>
  </form>
</div>

{% endblock %}
