{% extends "base.html" %}

{% block content %}
  <style>
     #check_hamster_tr {
        display: hide;
	    padding: 0.25em;
	    border: 1px solid #999999;
	    padding: 0.5rem;
     }
     #check_hamster2_tr {
        display: hide;
	    padding: 0.25em;
	    border: 1px solid #999999;
	    padding: 0.5rem;
     }
     .edit {
         color: white;
         padding: 12px 20px;
         border: none;
         border-radius: 4px;
         cursor: pointer;
         float: left;
     }
	 
  </style>
  
	{% if buggies|length %}
	  	<h1>Buggy</h1>
	{% else %}
		<h1>No Buggies, press Home</h1>
	{% endif %}
	{% for buggy in buggies %}
		<script>
	    	 window.onpageshow = function() {
	        	document.getElementById("check_hamster_tr").style.display = {{ buggy['hamster_booster'] }} != 0 ? 'show' : 'hide';
	   		 	document.getElementById("check_hamster2_tr").style.display = {{ buggy['aux_hamster_booster'] }} != 0 ? 'show' : 'hide';
	    	 }
		</script>
	  	<table>
		    <tr>
		      <td>ID:</td> <td> {{ buggy['id'] }} </td>
		    </tr>
		    <tr>
		      <td>Wheels:</td> <td> {{ buggy['qty_wheels'] }} </td>
		    </tr>
			<tr>
				<td>Tyres:</td> <td> {{ buggy['tyres'] }} </td>
			</tr>
			<tr>
				<td>Quantity of Tyres:</td> <td> {{ buggy['qty_tyres'] }} </td>
			</tr>
			<tr>
				<td>Flag Color:</td> <td> {{ buggy['flag_color'] }} </td> 
				<td>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="5em" height="5em" style="transform: rotate(-90deg);" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
					<path fill-rule="evenodd" clip-rule="evenodd" fill="{{ buggy['flag_color'] }}" stroke="#000000" stroke-miterlimit="10" d="M106.333,112c133.218,0,266.153,0,399.334,0c0,186.251,0,372.33,0,558.99c-3.492-1.664-6.601-3.099-9.67-4.614
						c-32.626-16.113-65.25-32.231-97.864-48.367c-29.919-14.804-59.836-29.612-89.713-44.502c-1.699-0.849-2.887-0.987-4.638-0.115c-27.885,13.882-55.806,27.692-83.738,41.479c-33.814,16.689-67.648,33.34-101.47,50.015c-3.948,1.946-7.871,3.943-12.242,6.135C106.333,484.31,106.333,298.325,106.333,112z"/>
					</svg>
				</td>
			</tr>
		    <tr>
		      <td>Flag Color Secondary:</td> <td> {{ buggy['flag_color_secondary'] }} </td>
			<td>
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="5em" height="5em" style="transform: rotate(-90deg);" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
				<path fill-rule="evenodd" clip-rule="evenodd" fill="{{ buggy['flag_color_secondary'] }}" stroke="#000000" stroke-miterlimit="10" d="M106.333,112c133.218,0,266.153,0,399.334,0c0,186.251,0,372.33,0,558.99c-3.492-1.664-6.601-3.099-9.67-4.614
					c-32.626-16.113-65.25-32.231-97.864-48.367c-29.919-14.804-59.836-29.612-89.713-44.502c-1.699-0.849-2.887-0.987-4.638-0.115c-27.885,13.882-55.806,27.692-83.738,41.479c-33.814,16.689-67.648,33.34-101.47,50.015c-3.948,1.946-7.871,3.943-12.242,6.135C106.333,484.31,106.333,298.325,106.333,112z"/>
				</svg>
			</td>
		    </tr>
			<tr>
				<td>Flag Pattern:</td> <td> {{ buggy['flag_pattern'] }} </td>
			</tr>
			<tr>
				<td>Type of Power:</td> <td> {{ buggy['power_type'] }}</td>
			</tr>
			<tr>
				<td>Units of Power:</td> <td> {{ buggy['power_units'] }}</td>
			</tr>
		  	<tr id="check_hamster_tr">
				<td>Units of Hamster Booster:</td> <td> {{ buggy['hamster_booster'] }}</td>
		  	</tr>
			<tr>
				<td>Type of Auxiliary Power:</td> <td> {{ buggy['aux_power_type'] }}</td>
			</tr>
			<tr>
				<td>Units of Auxiliary Power:</td> <td> {{ buggy['aux_power_units'] }}</td>
			</tr>
		  	<tr id="check_hamster2_tr">
				<td>Units of Auxiliary Hamster Booster:</td> <td> {{ buggy['aux_hamster_booster'] }} </td>
		  	</tr>
			<tr>
				<td>Armour type:</td> <td> {{ buggy['armour'] }} </td>
			</tr>
			<tr>
				<td>Attack type:</td> <td> {{ buggy['attack'] }} </td>
			</tr>
			<tr>
				<td>Number of Attacks:</td> <td> {{ buggy['qty_attacks'] }} </td>
			</tr>
			<tr>
				<td>Fireproof?</td> <td> {{ buggy['fireproof'] }} </td>
			</tr>
			<tr>
				<td>Insulated?</td> <td> {{ buggy['insulated'] }} </td>
			</tr>
			<tr>
				<td>Antibiotic?</td> <td> {{ buggy['antibiotic'] }} </td>
			</tr>
			<tr>
				<td>Banging sound system?</td> <td> {{ buggy['banging'] }} </td>
			</tr>
			<tr>
				<td style="background-color: yellow">Total Cost:</td> <td style="background-color: yellow"> {{ buggy['total_cost'] }} </td>
			</tr>
			<tr>
				<td colspan="1"> <a href="/edit/{{ buggy['id'] }}" class="button edit">edit me</a>
				<a href="/delete/{{ buggy['id'] }}" class="button edit">delete me</a></td>
			</tr>
		</table>
	{% endfor %}
	{% if buggies|length %}
		<a id="delete_all" href="/delete_all" class="button" style="background-color: red; color: white">Delete all</a><br>
	{% endif %}
	<br>
 	<p>
    	<a href="/" class="button">home</a>
  	</p>

{% endblock %}
