{% extends "base.html" %}

{% block content %}

<style>
  * {
    box-sizing: border-box;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  .home {
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: left;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
</style>
  <h1>Make buggy</h1>
  <p> {{msg}} </p>
  <p> {{msg2}} </p>
<div class="container">
  <form action="/new" method="post">
	
	<div class="row">
	    <div class="col-25">
	      <label for="id">Buggy ID:</label>
	    </div>
	    <div class="col-75">
			<input type="number" id="id" name="id" value="{{ prev_id }}" placeholder="ID...">
			<p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Insert the Buggy ID (default value 1)</p>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-25">
	      <label for="qty_wheels">Number of wheels:</label>
	    </div>
	    <div class="col-75">
	      <input type="text" id="qty_wheels" name="qty_wheels" value="{{ prev_qty_wheels }}" placeholder="Quantity of wheels... ">
		  <p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Insert the number of the wheels (Minimum 4!)</p>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-25">
	      <label for="flag_color">Colour of flag:</label>
	    </div>
	    <div class="col-75">
	      <input type="text" id="flag_color" name="flag_color" value="{{ prev_flag_color }}" placeholder="Color of the flag...">
		  <p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">CSS-colours (example: #ff0000 or red)</p>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-25">
	      <label for="flag_color_secondary">Secondary flag colour:</label> 
	    </div>
	    <div class="col-75">
	      <input type="text" id="flag_color_secondary" name="flag_color_secondary" value="{{ prev_flag_color_secondary }}" placeholder="Color of the secondary flag...">
		  <p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">CSS-colours (example: #ff0000 or red)</p>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-25">
	      <label for="flag_pattern">Pattern of flag:</label>  
	    </div>
	    <div class="col-75">
		  <select id="flag_pattern" name="flag_pattern" style="height: 50px; font-size: 16px" value="{{ prev_flag_pattern }}" required>
			  <option></option>
			  <option {% if 'plain' == prev_flag_pattern %} selected {% endif %} value="plain">Plain pattern</option>
			  <option {% if 'vstripe' == prev_flag_pattern %} selected {% endif %} value="vstripe">Vertical stripe</option>
			  <option {% if 'hstripe' == prev_flag_pattern %} selected {% endif %} value="hstripe">Horizontal stripe</option>
			  <option {% if 'dstripe' == prev_flag_pattern %} selected {% endif %} value="dstripe">Diagonal stripe</option>
			  <option {% if 'checker' == prev_flag_pattern %} selected {% endif %} value="checker">Checker</option>
			  <option {% if 'spot' == prev_flag_pattern %} selected {% endif %} value="spot">Spot</option>
		  </select>
	      <!--<input type="text" id="flag_pattern" name="flag_pattern" value="{{ prev_flag_pattern }}" placeholder="Pattern of the flag..." >-->
	    </div>
	  </div>
	  <div class="row">
	    <input type="submit" class="button">
		<a href="/" class="button home">home</a>
	  </div>
  </form>
</div>

{% endblock %}
