{% extends "base.html" %}

{% block content %}

<style>
  * {
    box-sizing: border-box;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  .home {
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: left;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
  #check_hamster {
     display: none;
  }
  #check_hamster_2 {
     display: none;
  }
  .button_change{
	  background-color: #fffff;
	  border: 1px solid black;
	  color: black;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
  }
  .selected{
	  background-color: red;
	  border: none;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
  }
  .limit_cost_button {
      color: white;
	  background-color: lightBlue;
	  margin: -30px 0 0 0px;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: left;
  }
</style>
<script>
		  window.onpageshow = function() {
		      document.getElementById("check_hamster").style.display = document.getElementById("power_type").value == "hamster" ? 'block' : 'none';
			  document.getElementById("check_hamster_2").style.display = document.getElementById("aux_power_type").value == "hamster" ? 'block' : 'none';
	          if (document.getElementById("fireproof").value == "false"){
	           document.getElementById("fireproof").style.backgroundColor = "red";
	          } else {
	           document.getElementById("fireproof").style.backgroundColor = "green";
	          }
	          if (document.getElementById("insulated").value == "false"){
	           document.getElementById("insulated").style.backgroundColor = "red";
	          } else {
	          	document.getElementById("insulated").style.backgroundColor = "green";
	          }
	          if (document.getElementById("antibiotic").value == "false"){
	          	document.getElementById("antibiotic").style.backgroundColor = "red";
	          } else {
	          	document.getElementById("antibiotic").style.backgroundColor = "green";
	          }
			  if (document.getElementById("banging").value == "false"){
				  document.getElementById("banging").style.backgroundColor = "red";
			  } else {
				  document.getElementById("banging").style.backgroundColor = "green";
			  }
		  }
	  function displayDivDemo(id, elementValue) {
	     document.getElementById(id).style.display = elementValue.value == "hamster" ? 'block' : 'none';
	  }
	  function change_fireproof()
	  {
	      if (document.getElementById("fireproof").value=="false"){ 
			  document.getElementById("fireproof").value = "true";
			  document.getElementById("fireproof").style.backgroundColor = "green";
		  }
	      else {
			  document.getElementById("fireproof").value = "false";
			  document.getElementById("fireproof").style.backgroundColor = "red";
		  }
	  }
	  function change_insulated()
	  {
	      if (document.getElementById("insulated").value=="false"){ 
			  document.getElementById("insulated").value = "true";
			  document.getElementById("insulated").style.backgroundColor = "green";
		  }
	      else {
			  document.getElementById("insulated").value = "false";
			  document.getElementById("insulated").style.backgroundColor = "red";
		  }
	  }
	  function change_antibiotic()
	  {
	      if (document.getElementById("antibiotic").value=="false"){ 
			  document.getElementById("antibiotic").value = "true";
			  document.getElementById("antibiotic").style.backgroundColor = "green";
		  }
	      else {
			  document.getElementById("antibiotic").value = "false";
			  document.getElementById("antibiotic").style.backgroundColor = "red";
		  }
	  }
	  function change_banging()
	  {
	      if (document.getElementById("banging").value=="false"){ 
			  document.getElementById("banging").value = "true";
			  document.getElementById("banging").style.backgroundColor = "green";
		  }
	      else {
			  document.getElementById("banging").value = "false";
			  document.getElementById("banging").style.backgroundColor = "red";
		  }
	  }
	  var form = document.getElementById("buggy-form");

	  document.getElementById("limit_cost_button").addEventListener("click", function () {
	    form.submit();
	  });
</script>

{% if buggy['id'] is defined %}
  <h1>Edit buggy #{{ buggy['id'] }}</h1>
{% else %}
  <h1>Make buggy</h1>
{% endif %}
  <p style="color: red"> {{msg}} </p>
  <p style="color: red"> {{msg2}} </p>
<div class="container">
  <form action="/new" method="post" id="buggy-form">
	
{% if buggy['id'] is defined %}
	<div class="row" style="visibility: hidden">
{% else %}
	<div class="row">
{% endif%}
	    <div class="col-25">
	      <label for="id">Buggy ID:</label>
	    </div>
	    <div class="col-75">
			{% if buggy['id'] is defined %}
				<input type="number" id="id" name="id" value="{{ buggy['id'] }}" placeholder="ID..." >
			{% else %}
				<input type="number" id="id" name="id" value="1" placeholder="ID..." >
			{% endif %}
			<p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Insert the Buggy ID (default value 1)</p>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="qty_wheels">Number of wheels:</label>
	    </div>
	    <div class="col-75">
			{% if buggy['qty_wheels'] is defined %}
	      		<input type="number" id="qty_wheels" name="qty_wheels" value="{{ buggy['qty_wheels'] }}" placeholder="Quantity of wheels... ">
			{% else %}
				<input type="number" id="qty_wheels" name="qty_wheels" value="4" placeholder="Quantity of wheels... ">
			{% endif %}
		  <p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Insert the number of the wheels (Minimum 4!)</p>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="tyres">Type of Tyres:</label>  
	    </div>
	    <div class="col-75">
			{% if buggy['tyres'] is defined %}
		  		<select id="tyres" name="tyres" style="height: 50px; font-size: 16px" value="{{ buggy['tyres'] }}" required>
			{% else %}
				<select id="tyres" name="tyres" style="height: 50px; font-size: 16px" required>
			{% endif %}
			  <option></option>
			  <option {% if 'knobbly' == buggy['tyres'] %} selected {%elif buggy['tyres'] not in ['slick','steelband','reactive','maglev'] %} selected {% endif %} value="knobbly">Knobbly</option>
			  <option {% if 'slick' == buggy['tyres'] %} selected {% endif %} value="slick">Slick</option>
			  <option {% if 'steelband' == buggy['tyres'] %} selected {% endif %} value="steelband">Steelband</option>
			  <option {% if 'reactive' == buggy['tyres'] %} selected {% endif %} value="reactive">Reactive</option>
			  <option {% if 'maglev' == buggy['tyres'] %} selected {% endif %} value="maglev">Maglev</option>
		  </select>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-25">
	      <label for="qty_tyres">Number of Tyres:</label>
	    </div>
	    <div class="col-75">
			{% if buggy['qty_tyres'] is defined %}
	      		<input type="number" id="qty_tyres" name="qty_tyres" value="{{ buggy['qty_tyres'] }}" placeholder="Quantity of tyres... ">
		  	{% else %}
				<input type="number" id="qty_tyres" name="qty_tyres" value="4" placeholder="Quantity of tyres... ">
			{% endif %}
		  <p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Insert the number of the wheels (Minimum 4!)</p>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="flag_color">Colour of flag:</label>
	    </div>
	    <div class="col-75">
			{% if buggy['flag_color'] is defined %}
			  <input type="color" id="flag_color" name="flag_color" value="{{ buggy['flag_color'] }}" style="border: 1px solid black; background-color: {{ buggy['flag_color'] }}" oninput="this.style.setProperty('background-color', this.value)">
			{% else %}
				<input type="color" id="flag_color" name="flag_color" style="border: 1px solid black; background-color: #ffffff" oninput="this.style.setProperty('background-color', this.value)">
			{% endif %}
		  <p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Select the CSS-colour from this square (saved as example: #ff0000 or red)</p>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="flag_color_secondary">Secondary flag colour:</label> 
	    </div>
	    <div class="col-75">
			{% if buggy['flag_color_secondary'] is defined%}
				<input type="color" id="flag_color_secondary" name="flag_color_secondary" value="{{ buggy['flag_color_secondary'] }}" style="border: 1px solid black; background-color: {{ buggy['flag_color_secondary'] }}" oninput="this.style.setProperty('background-color', this.value)">
			{% else %}
				<input type="color" id="flag_color_secondary" name="flag_color_secondary" style="border: 1px solid black; background-color: #ffffff" oninput="this.style.setProperty('background-color', this.value)">
			{% endif %}
		  <p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Select the CSS-colour from this square (saved as example: #ff0000 or red)</p>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="flag_pattern">Pattern of flag:</label>  
	    </div>
	    <div class="col-75">
			{% if buggy['flag_pattern'] is defined %}
			  <select id="flag_pattern" name="flag_pattern" style="height: 50px; font-size: 16px" value="{{ buggy['flag_pattern'] }}" required>
			{% else %}
				<select id="flag_pattern" name="flag_pattern" style="height: 50px; font-size: 16px" required>
			{% endif %}
			  <option></option>
			  <option {% if 'plain' == buggy['flag_pattern'] %} selected {%elif buggy['flag_pattern'] not in ['vstripe','hstripe','dstripe','checker', 'spot'] %} selected {% endif %} value="plain">Plain pattern</option>
			  <option {% if 'vstripe' == buggy['flag_pattern'] %} selected {% endif %} value="vstripe">Vertical stripe</option>
			  <option {% if 'hstripe' == buggy['flag_pattern'] %} selected {% endif %} value="hstripe">Horizontal stripe</option>
			  <option {% if 'dstripe' == buggy['flag_pattern'] %} selected {% endif %} value="dstripe">Diagonal stripe</option>
			  <option {% if 'checker' == buggy['flag_pattern'] %} selected {% endif %} value="checker">Checker</option>
			  <option {% if 'spot' == buggy['flag_pattern'] %} selected {% endif %} value="spot">Spot</option>
		  </select>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="power_type">Type of Power:</label>  
	    </div>
	    <div class="col-75">
			{% if buggy['flag_pattern'] is defined %}
		  		<select id="power_type" name="power_type" style="height: 50px; font-size: 16px" value="{{ buggy['power_type'] }}" onchange="displayDivDemo('check_hamster', this)" required>
			{% else %}
				<select id="power_type" name="power_type" style="height: 50px; font-size: 16px"  onchange="displayDivDemo('check_hamster', this)" required>
			{% endif %}
			  <option></option>
			  <option {% if 'petrol' == buggy['power_type'] %} selected {%elif buggy['power_type'] not in ['fusion','steam','bio','electric','rocket','hamster','thermo','solar','wind'] %} selected {% endif %} value="petrol">Petrol</option>
			  <option {% if 'fusion' == buggy['power_type'] %} selected {% endif %} value="fusion">Fusion</option>
			  <option {% if 'steam' == buggy['power_type'] %} selected {% endif %} value="steam">Steam</option>
			  <option {% if 'bio' == buggy['power_type'] %} selected {% endif %} value="bio">Bio</option>
			  <option {% if 'electric' == buggy['power_type'] %} selected {% endif %} value="electric">Electric</option>
			  <option {% if 'rocket' == buggy['power_type'] %} selected {% endif %} value="rocket">Rocket</option>
			  <option {% if 'hamster' == buggy['power_type'] %} selected {% endif %} value="hamster">Hamster</option>
			  <option {% if 'thermo' == buggy['power_type'] %} selected {% endif %} value="thermo">Thermo</option>
			  <option {% if 'solar' == buggy['power_type'] %} selected {% endif %} value="solar">Solar</option>
			  <option {% if 'wind' == buggy['power_type'] %} selected {% endif %} value="wind">Wind</option>
		  </select>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-25">
	      <label for="power_units">Unit of fuel:</label>
	    </div>
	    <div class="col-75">
			{% if buggy['power_units'] is defined %}
	      		<input type="number" id="power_units" name="power_units" value="{{ buggy['power_units'] }}" placeholder="Unit of fuel for the engine... ">
			{% else %}
				<input type="number" id="power_units" name="power_units" value="1" placeholder="Unit of fuel for the engine... ">
			{% endif %}
		  <p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Insert the unit of fuel for the engine</p>
	    </div>
	  </div>
	  	  
	<div class="row" id="check_hamster">
		<div class="col-25">
			<label for="hamster_booster">Unit of fuel for Hamster Booster:</label>
		</div>
		<div class="col-75">
			{% if buggy['hamster_booster'] is defined %}
				<input type="number" id="hamster_booster" name="hamster_booster" value="{{ buggy['hamster_booster'] }}" placeholder="Unit of fuel for the hamster booster... ">
			{% else %}
				<input type="number" id="hamster_booster" name="hamster_booster" value="0" placeholder="Unit of fuel for the hamster booster... ">
			{% endif %}
			<p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Hamster booster: </p>
		</div>
	</div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="aux_power_type">Type of Auxiliary Power:</label>  
	    </div>
	    <div class="col-75">
			{% if buggy['aux_power_type'] is defined %}
			  <select id="aux_power_type" name="aux_power_type" style="height: 50px; font-size: 16px" value="{{ buggy['aux_power_type'] }}" onchange="displayDivDemo('check_hamster_2', this)">
			{% else %}
				<select id="aux_power_type" name="aux_power_type" style="height: 50px; font-size: 16px" onchange="displayDivDemo('check_hamster_2', this)">
			{% endif %}
			  <option value="none" {% if buggy['aux_power_type'] not in ['petrol','fusion','steam','bio','electric','rocket','hamster','thermo','solar','wind'] %} selected {% endif %}></option>
			  <option {% if 'petrol' == buggy['aux_power_type'] %} selected {% endif %} value="petrol">Petrol</option>
			  <option {% if 'fusion' == buggy['aux_power_type'] %} selected {% endif %} value="fusion">Fusion</option>
			  <option {% if 'steam' == buggy['aux_power_type'] %} selected {% endif %} value="steam">Steam</option>
			  <option {% if 'bio' == buggy['aux_power_type'] %} selected {% endif %} value="bio">Bio</option>
			  <option {% if 'electric' == buggy['aux_power_type'] %} selected {% endif %} value="electric">Electric</option>
			  <option {% if 'rocket' == buggy['aux_power_type'] %} selected {% endif %} value="rocket">Rocket</option>
			  <option {% if 'hamster' == buggy['aux_power_type'] %} selected {% endif %} value="hamster">Hamster</option>
			  <option {% if 'thermo' == buggy['aux_power_type'] %} selected {% endif %} value="thermo">Thermo</option>
			  <option {% if 'solar' == buggy['aux_power_type'] %} selected {% endif %} value="solar">Solar</option>
			  <option {% if 'wind' == buggy['aux_power_type'] %} selected {% endif %} value="wind">Wind</option>
		  </select>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-25">
	      <label for="aux_power_units">Unit of fuel:</label>
	    </div>
	    <div class="col-75">
	      <input type="number" id="aux_power_units" name="aux_power_units" value="{{ buggy['aux_power_units'] }}" placeholder="Unit of fuel for the engine... ">
		  <p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Insert the unit of fuel for the auxiliary engine</p>
	    </div>
	  </div>
    	  
    	<div class="row" id="check_hamster_2">
    		<div class="col-25">
    			<label for="hamster_booster">Unit of fuel for Auxiliary Hamster Booster:</label>
    		</div>
    		<div class="col-75">
				{% if buggy['aux_hamster_booster'] is defined %}
					<input type="number" id="aux_hamster_booster" name="aux_hamster_booster" value="{{ buggy['aux_hamster_booster'] }}" placeholder="Unit of fuel for the auxiliary hamster booster... ">
				{% else %}
					<input type="number" id="aux_hamster_booster" name="aux_hamster_booster" value="0" placeholder="Unit of fuel for the auxiliary hamster booster... ">
				{% endif %}
    			<p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Auxiliary Hamster booster: </p>
    		</div>
    	</div>
    	<!-- ------------------------------------------------------------------ -->
	  <div class="row">
	    <div class="col-25">
	      <label for="armour">Type of Armour:</label>  
	    </div>
	    <div class="col-75">
			{% if buggy['aux_hamster_booster'] is defined %}
		  		<select id="armour" name="armour" style="height: 50px; font-size: 16px" value="{{ buggy['armour'] }}" required>
			{% else %}
				<select id="armour" name="armour" style="height: 50px; font-size: 16px"  required>
			{% endif %}
			  <option {% if 'none' == buggy['armour'] %} selected {% elif buggy['armour'] not in ['wood','aluminium','thinsteel','thicksteel','titanium'] %} selected {% endif %} value="none">None</option>
			  <option {% if 'wood' == buggy['armour'] %} selected {% endif %} value="wood">Wood</option>
			  <option {% if 'aluminium' == buggy['armour'] %} selected {% endif %} value="aluminium">Aluminium</option>
			  <option {% if 'thinsteel' == buggy['armour'] %} selected {% endif %} value="thinsteel">Thinsteel</option>
			  <option {% if 'thicksteel' == buggy['armour'] %} selected {% endif %} value="thicksteel">Thicksteel</option>
			  <option {% if 'titanium' == buggy['armour'] %} selected {% endif %} value="titanium">Titanium</option>
		  </select>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-25">
	      <label for="attack">Type of Attack:</label>  
	    </div>
	    <div class="col-75">
			{% if buggy['attack'] is defined%}
		  		<select id="attack" name="attack" style="height: 50px; font-size: 16px" value="{{ buggy['attack'] }}" required>
			{% else %}
				<select id="attack" name="attack" style="height: 50px; font-size: 16px"  required>
			{% endif %}
			  <option {% if 'none' == buggy['attack'] %} selected {% elif buggy['attack'] not in ['spike','flame','charge','biohazard'] %} selected {% endif %} value="none">None</option>
			  <option {% if 'spike' == buggy['attack'] %} selected {% endif %} value="spike">Spike</option>
			  <option {% if 'flame' == buggy['attack'] %} selected {% endif %} value="flame">Flame</option>
			  <option {% if 'charge' == buggy['attack'] %} selected {% endif %} value="charge">Charge</option>
			  <option {% if 'biohazard' == buggy['attack'] %} selected {% endif %} value="biohazard">Biohazard</option>
		  </select>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="qty_attacks">Unit of attacks:</label>
	    </div>
	    <div class="col-75">
			{% if buggy['qty_attacks'] is defined %}
	      		<input type="number" id="qty_attacks" name="qty_attacks" value="{{ buggy['qty_attacks'] }}" placeholder="Number of attacks... ">
			{% else %}
				<input type="number" id="qty_attacks" name="qty_attacks" value="0" placeholder="Number of attacks... ">
			{% endif %}
		  <p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Insert the number of attacks you want to do</p>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="fireproof">Fireproof?</label>
	    </div>
	    <div class="col-75">
			{% if buggy['fireproof'] is defined %}
  				<select id="fireproof" class="selected" name="fireproof" style="height: 50px; font-size: 16px" value="{{ buggy['fireproof'] }}" onchange="change_fireproof()" required>
			{% else %}
				<select id="fireproof" class="selected" name="fireproof" style="height: 50px; font-size: 16px" onchange="change_fireproof()" required>
			{% endif %}
  				<option {% if 'false' == buggy['fireproof'] %} selected {% elif buggy['fireproof'] not in ['true'] %} selected {% endif %} value="false">False</option>
  				<option {% if 'true' == buggy['fireproof'] %} selected {% endif %} value="true">True</option>
			</select>
			<input type="button" class="home" id="fireproof" name="fireproof" value="Press to change" onclick="change_fireproof()"/> 
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="insulated">Insulated?</label>
	    </div>
	    <div class="col-75">
			{% if buggy['insulated'] is defined %}
  				<select id="insulated" class="selected" name="insulated" style="height: 50px; font-size: 16px" value="{{ buggy['insulated'] }}" onchange="change_insulated()" required>
			{% else %}
				<select id="insulated" class="selected" name="insulated" style="height: 50px; font-size: 16px" onchange="change_insulated()" required>
			{% endif %}
  				<option {% if 'false' == buggy['insulated'] %} selected {% elif buggy['insulated'] not in ['true'] %} selected {% endif %} value="false">False</option>
  				<option {% if 'true' == buggy['insulated'] %} selected {% endif %} value="true">True</option>
			</select>
			<input type="button" class="home" id="insulated" name="insulated" value="Press to change" onclick="change_insulated()"/> 
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="antibiotic">Antibiotic?</label>
	    </div>
	    <div class="col-75">
			{% if buggy['antibiotic'] is defined %}
				<select id="antibiotic" class="selected" name="antibiotic" style="height: 50px; font-size: 16px" value="{{ buggy['antibiotic'] }}" onchange="change_antibiotic()" required>
			{% else %}
				<select id="antibiotic" class="selected" name="antibiotic" style="height: 50px; font-size: 16px" onchange="change_antibiotic()" required>
			{% endif %}
  				<option {% if 'false' == buggy['antibiotic'] %} selected {% elif buggy['antibiotic'] not in ['true'] %} selected {% endif %} value="false">False</option>
  				<option {% if 'true' == buggy['antibiotic'] %} selected {% endif %} value="true">True</option>
			</select>
			<input type="button" class="home" id="antibiotic" name="antibiotic" value="Press to change" onclick="change_antibiotic()"/> 
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-25">
	      <label for="banging">Banging Sound System?</label>
	    </div>
	    <div class="col-75">
			{% if buggy['insulated'] is defined %}
  				<select id="banging" class="selected" name="banging" style="height: 50px; font-size: 16px" value="{{ buggy['banging'] }}" onchange="change_banging()" required>
			{% else %}
				<select id="banging" class="selected" name="banging" style="height: 50px; font-size: 16px" onchange="change_banging()" required>
			{% endif %}
  				<option {% if 'false' == buggy['banging'] %} selected {% elif buggy['banging'] not in ['true'] %} selected {% endif %} value="false">False</option>
  				<option {% if 'true' == buggy['banging'] %} selected {% endif %} value="true">True</option>
			</select>
			<input type="button" class="home" id="banging" name="banging" value="Press to change" onclick="change_banging()"/> 
	    </div>
	  </div>
	  
	  <!-- 3-AUTOFILL -> ask for a cost limit when the button is pressed, and try to add items so that the buggy's total cost is within that limit.-->
	 <div class="row" style="margin: 10px 0 0 0px; padding: 10px 10px 10px 10px; border: 1px solid black">
	  <div class="row">
	    <div class="col-25">
	      <label for="cost_limit">Cost Limit (random buggy):</label>
	    </div>
	    <div class="col-75">
	      <input type="number" id="cost_limit" name="cost_limit" value="{{ buggy['cost_limit'] }}" placeholder="Insert the cost limit for the random buggy... ">
		  <p style="text-align:left; margin-top: 0px; margin-bottom: 10px; opacity: 100%; color: grey; font-size: 13px">Insert the cost limit for the random buggy (only consumable power used and 1 engine).</p>
	    </div>
		<a href="/buggy">
			<input type="submit" class="limit_cost_button" id="limit_cost_button" name="limit_cost_button" value="Cost Limit - Build" />
		</a>
	  </div>
 	 </div>
	  
	  <div class="row">
	    <input type="submit" class="button">
		<a href="/" class="button home">home</a>
	  </div>
  </form>
</div>

{% endblock %}
