{% extends "base.html" %}

{% block content %}

  <h1>
    My buggy editor
  </h1>
  {% if user == "Not Logged!" %}
  	<div style='position:absolute; top:25px; right: 10px;'><a href="/login" class="button">Log In</a></div>
	<div style='position:absolute; top:80px; right: 10px;'><a href="/register" class="button">Register</a></div>
  {% elif user is not defined %}
  	<div style='position:absolute; top:25px; right: 10px;'><a href="/login" class="button">Log In</a></div>
	<div style='position:absolute; top:80px; right: 10px;'><a href="/register" class="button">Register</a></div>
  {% else %}
	<div style='position:absolute; top:10px; right: 25px;'>User: {{ user }}</div>
	<div style='position:absolute; top:50px; right: 10px;'><a href="/logout" class="button">Log Out</a></div>
  {% endif %}

  <div class="spacer">
    <a href="/new" class="button">Make buggy</a>
    <a href="/buggy" class="button">Show buggy</a>
    <a href="/json" class="button">Get buggy JSON</a>
	<a href="/json_all" class="button">Get all buggies JSON</a>
	<a href="/poster" class="button">Show the Poster</a>
  </div>

  <p>
    Use this editor to specify a racing buggy. The editor saves it in its
    little database and generates JSON data for the buggy. This is the data you
    need to supply when you log into the
    <strong><a href="{{ server_url }}">race server</a></strong> and enter your
    buggy into the next race.
  </p>
  <p>
    Remember that if your data is not accepted by the race server, your buggy
    will be disqualified from that race... so make sure you program your editor
    correctly.
  </p>
  <p>
  	-- Smoke Test :) --
  </p>

{% endblock %}
